body{
    background-color: rgb(48, 225, 166);
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
img{
    height: 200px;
    width: 350px;
  

}
.img :hover{
    box-shadow: 10px 12px 14px black;
   
}
.titulo{ 
    margin: 0px 5px;
    padding: 0px 5px;
   
    color: rgb(255, 72, 0);
  
    font-family:monospace;
    text-align: center;
   
 
}
h1{
    font-size: 34px;
}
h3{
    color: rgb(26, 43, 233);
}
.principal a{
        text-decoration: none;
        color: red;

}

.principal{
    clear: both;
    text-align: center;
    color: indigo ;
    
    
    
   
}
.principal a:hover{
    color: blue;
}

#chocolate{
    background-color: rgb(51, 153, 117);
    margin-bottom: 5%;
    margin-top: 5%;
}
#lasanha{
    background-color: rgb(220, 176, 176);
    margin-bottom: 5%;
    margin-top: 5%;
}
#pudim{
    color: aqua;
    background-color: goldenrod;
    margin-bottom: 5%;
    margin-top: 5%;
}
.tudo{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  
}
.lista{
    color: white;
}
.lista strong{
    color: black;
    
}
.pre{
    color: white;
}
.pre strong {
    color: black;
}
main h3{
    color: rgb(0, 30, 255);
}


    


#bolo{
    
    color: rgb(248, 10, 10);
    
}
#lcm{
    color: rgb(243, 255, 80);
}
#adicio{
    color: red;
}
#adicio strong{
    color: black;
}
#adicio h3{
    color: crimson;
}
.div{
    margin: 5%;
    padding: 0px 49px;
}


  


.fotolasanha{
    margin-left: 10%;
    margin-bottom: 5%;
    border-radius: 50px;
    box-shadow: 1px 8px 9px red;
   
   
}
.fotobolo{
    margin-left: 10%;
    margin-bottom:5% ;
    border-radius: 50px;
    box-shadow: 1px 8px 9px red
   
}


.fotopudim{
    margin-bottom: 5%;
    border-radius: 50px;
    margin-left: 10%;
    box-shadow: 1px 8px 9px red;
}
#frente{
    margin: 5%;
    padding: 5%;

}
.fotos{
    border-radius: 50px;
    box-shadow:1px 8px 9px red ;
}

