body{
    background-color: rgb(48, 225, 166);
    background-image: url(fundo2.jpg);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
img{
    height: 200px;
    width: 350px;
  

}
.img :hover{
    box-shadow: 10px 12px 14px black;
   
}
.titulo{ 
    margin: 0px 5px;
    padding: 0px 5px;
   
    color: rgb(255, 72, 0);
  
    font-family:monospace;
    text-align: center;
   
 
}
h1{
    font-size: 34px;
}
h3{
    color: rgb(26, 43, 233);
}
.principal a{
        text-decoration: none;
        color: red;

}

.principal{
    clear: both;
    text-align: center;
    color: indigo;
    float: left;
    
    
   
}
.principal a:hover{
    color: blue;
}
 .menu a {
    color: rgb(223, 42, 73);
    text-decoration: none;
    margin: 0px 10px;
    padding: 0px 10px;
}
 nav :hover {
    color: rgb(194, 151, 59);
}
#chocolate{
    background-color: rgb(51, 153, 117);
    margin-bottom: 5%;
    margin-top: 5%;
}
#lasanha{
    background-color: rgb(220, 176, 176);
    margin-bottom: 5%;
    margin-top: 5%;
}
#pudim{
    background-color: goldenrod;
    margin-bottom: 5%;
    margin-top: 5%;
}
.tudo{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  
}
.lista{
    color: white;
}
.lista strong{
    color: black;
    
}
.pre{
    color: white;
}
.pre strong {
    color: black;
}
main h3{
    color: rgb(0, 30, 255);
}
#outro{
    
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 0px 50px;
    display: inline;
    color: rgb(73, 14, 251);

    
}
.fotobolo{
    border-radius: 50px;
    box-shadow: 1px 8px 9px red

}
.junto{
 
    box-shadow: 1px 2px 15px yellow;
    border-radius: 30px;
   
}
    


#bolo{
    color: rgb(248, 10, 10);
}
#lcm{
    color: rgb(243, 255, 80);
}
#adicio{
    color: red;
}
#adicio strong{
    color: black;
}
#adicio h3{
    color: crimson;
}
.div{
  
    padding: 0px 49px;
}
.bolo2{
    box-shadow: 1px 2px 15px red;
    border-radius: 18px;
}
#lasanha2{
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 0px 50px;
   
    color: rgb(251, 14, 14);
  

}
.fotolasanha{
    border-radius: 50px;
    box-shadow: 1px 8px 9px red;
}
#pudim2{
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 0px 50px;
    
    color: rgb(14, 251, 125);
}
.fotopudim{
    border-radius: 50px;
    box-shadow: 1px 8px 9px red;
}
#frente{
    margin: 5%;
    padding: 5%;

}
.fotos{
    border-radius: 50px;
    box-shadow:1px 8px 9px red ;
}

h4 {
    
   margin-left: 15%;
}
