#frente{
    margin: 1%;
    padding: 3%;
    font-size: 200%;
    color:lightseagreen;
  
}
h3{
    font-size: 100%;
    color: darkred;
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    color: aqua;
    font-size: 50px;
   
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 100px;
   
    
}
nav a{
    text-decoration: none;
    display: flex;
    color: red;
    

}
nav a:hover{
    color: blue;
}
img{
   
    box-shadow: 10px 8px 10px blueviolet;
    border-radius: 50px;
    height: 200px;
    width: 350px;
    
}



.principal p{
    color: deeppink;
    display: flex;
    justify-content: center;
    
}

.content{
    padding: 0px 50px;
}
.tudo{
    color: white;
    margin-bottom: 100px;
   
}
.tudo2{
    color: white;
    margin-bottom: 100px;
}
.tudo3{
    color: white;
    margin-bottom: 100px;
}

h2{
    color:rgb(140, 140, 19);
    
}
.rec{
    display: flex;
    justify-content: center;
    color:blueviolet;
    font-size: 150%;
    margin-bottom: 100px;
   
}
.lista{
    
    background: rgb(68, 12, 12);
    border-radius: 10px;
    padding: 50px;
    
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);

}
.pre{
    background: rgb(68, 12, 12);
    border-radius: 10px;
    padding: 50px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
   
}
.rec2{
    display: flex;
    justify-content: center;
    color:blueviolet;
    font-size: 150%;
    margin-bottom: 100px;
   
}
.lista2{
    
    
    background: rgb(68, 12, 12);
    border-radius: 10px;
    padding: 50px;
    
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);

}
.pre2{
    background: rgb(68, 12, 12);
    border-radius: 10px;
    padding: 50px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
   
}
.pre3{
    background: rgb(68, 12, 12);
    border-radius: 10px;
    padding: 50px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
   
}
.rec3{
    display: flex;
    justify-content: center;
    color:blueviolet;
    font-size: 150%;
    margin-bottom: 100px;
   
}
.lista3{
    
    background: rgb(68, 12, 12);
    border-radius: 10px;
    padding: 50px;
    
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);


}
.pre3{
   
    border-radius: 10px;
    padding: 50px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
   
}
#adicio{
    
    padding: 50px;
    color: white;
   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    margin-bottom: 100px;


}#adicio strong{
    color: black;
}
#adicio h3{
    color: aqua;
}
@media (max-width: 450px){
    .titulo{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: center;
        color: black;
        font-size: 29px;
    }
    .lista{
        background: rgb(68, 12, 12);
        border-radius: 10px;
        padding: 50px;
        
        width: 200px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356)
            
       
    }
    .lista2{
        background: rgb(68, 12, 12);
        border-radius: 10px;
        padding: 50px;
        
        width: 200px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356)
            
    }
    .lista3{
        background: rgb(68, 12, 12);
        border-radius: 10px;
        padding: 50px;
        
        width: 200px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356)
            
    }
    .pre{
        background: rgb(68, 12, 12);
        border-radius: 10px;
        padding: 50px;
        
        width: 200px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356)
    }
    .pre2{
        background: rgb(68, 12, 12);
        border-radius: 10px;
        padding: 50px;
        
        width: 200px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356)
    }
    .pre3{
        background: rgb(68, 12, 12);
        border-radius: 10px;
        padding: 50px;
        
        width: 200px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356)
    }nav{
        display: flex;
        justify-content: center;
        justify-content: space-between;
       
    }
    #frente{
        margin: 50px;
        padding: 40px;
        font-size: 25px;
        color:rgb(32, 47, 178);
    }
    .foto{
        margin-right: 100px;
    }
    
 
}
   
  